# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Uploaded files
uploads/

# Temporary files
*.tmp
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Large ML models
*.h5
*.hdf5
*.pt
*.pth
*.onnx

# OS files
.DS_Store
Thumbs.db